/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.thebackground {
    -fx-background-color : #B3E5FC;
    }

.sectionTitle {
    -fx-text-fill   : #01579B;
    -fx-font-weight : bolder;
    -fx-font-size   : 14px;
    }

.warningText {
    -fx-fill : #0277BD;
    }

.inputSection {
    -fx-background-color : #E1F5FE;
    }

.button {
    -fx-background-color : #e0ffff;
    -fx-text-fill        : #808080;
    -fx-font-weight      : 900;
    }
 /*
.label {
    -fx-background-color : #e0ffff;
    -fx-text-fill        : #808080;
    -fx-font-weight      : 900;
    }
*/
.button:hover {
    -fx-background-color : #87cefa;
    }